@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fdf97b;
}

.button {
  width: 50px;
  height: 50px;
  margin: 2px;
  font-size: 1.3em;
}

#textview {
  margin: 0px 3px;
  margin-bottom: 3px;
  width: 217px;
  padding: 5px;
  font-size: 1.5em;
  background-color: rgb(203, 255, 255);
  border: none;
  border-radius: 5px;
  text-align: right;
}

.text-center {
  text-align: center;
  margin-top: 25px;
  font-size: 2.6em;
  font-weight: 700;
  color: rgb(92, 92, 92);
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
